$mc-dark: #002836;
$mc-medium: #003a4f;
$mc-light: #596b71;

$border-grey: #DDD;
$border-blue: #ddeaf8;
$medium-grey: #CCC;
$light-grey: #EEE;
$dark-grey: #AAA;
$darker-grey: #444;

$dark-red: #c71c28;

body{
  background:$mc-dark;
}
#header{
  height:50px;
  background:$mc-medium;
}
#main{
  background:white;
  height:600px;
}
#footer{
  height:80px;
  background:$mc-dark;
}

