@import "layout.scss";

#roomListContainer{
  font-family:"avg", arial;
  color: $header-dark;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size:40px;
  line-height:100%;
  color: $header-dark;
  .sectionDivider{
    width:20%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: $lightDark;
  }
  a{
    color: $header-dark;
  }
  .roomContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    .roomName{
      font-size:40px;
    }
    .roomDescription{
      color: $lightDark;
      font-size:30px;
      line-height:100%;
    }
    &:hover{
      background:#F2F2F2;
    }
  }
}
#footer{
  background:$header-dark;
  font-family:"avg", arial;
  #footerInformation{
    font-size:30px;
    color: $header-white;
    line-height:100%;
    text-align:center;
    padding-top: 25px;
    padding-bottom: 25px;
    #contactUs{
      color: $header-teal;
      cursor:pointer;
    }
  }
}
