@import "layout.scss";

#roomListContainer{
  font-family:"avg", arial;
  color: $header-dark;
  font-size:40px;
  line-height:100%;
  color: $header-dark;
  margin-bottom: 80px;
  .room-link{
    display: block;
    color: $header-dark;
    padding: 20px 10px;
    &:hover{
      background: #F2F2F2;
    }
  }
  .roomName{
    font-size:40px;
  }
  .roomDescription{
    color: $lightDark;
    font-size: 30px;
    line-height:100%;
  }
  .usersCount{
    float: right;
  }

}

#footer{
  background:$header-dark;
  font-family:"avg", arial;
  #footerInformation{
    font-size:30px;
    color: $header-white;
    line-height:100%;
    text-align:center;
    padding-top: 25px;
    padding-bottom: 25px;
    #contactUs{
      color: $header-teal;
      cursor:pointer;
    }
  }
}
