@import "layout.scss";

$rightBarWidth: 220px;

#rooms{
}

#rooms-center{
  #messages{
    overflow: auto;
    position:fixed;
    left: 0px;
    right:$rightBarWidth;
    top: $header-height;
    bottom:80px;
    border-bottom: 1px solid $border-grey;
  }
  .left{
    .message{
      color: $mc-light;
      margin: 10px 0;
      font-size: 18px;
      border-bottom: 1px dotted $light-grey;
      word-wrap: break-word;
    }
    .message:after{
      display: block;
      content: "";
      clear: both;
    }
    .rating,.body,.time{
      display:block;
      float:left;
    }
    .rating{
      width: 12%;
      height: 100%;
      text-align: right;
      .vote{
        margin-right: 20px;
      }
      .disabled{
        color: $medium-grey; 
        .icon-star-empty{
          display: none;
        }
      }
      .enabled{
        color: $medium-grey;
        :hover{
          color: $mc-light;
          cursor: pointer;
        } 
        .icon-star{
          display: none;
        }
      }
    }
    .body{
      width: 69.4%;
      p{
        margin: 0 10px;
      }
    }
    .time{
      width: 18.6%;
      text-align: right;
      .name{
        float: right;
        margin-right: 5px;
        font-weight: bold;
        color: $medium-grey;
      }
      .timeago{
        margin-right: 5px;
      }
    }
  }

  .right{
    width:$rightBarWidth;
    position:fixed;
    top: $header-height;
    right: 0px;
    bottom:0;
    #company{
      width: 100%;
      height: 175px;
      text-align:center;
      font-family:"avg", arial;
      padding-bottom:10px;
      padding-top:10px;
      #companyInfo{
        font-size: 40px;
        color: $header-dark;
        line-height:100%;
      }
      #companyDescription{
        padding-top:10px;
        font-size: 20px;
        color: $lightDark;
        line-height:100%;
      }
      #companyResources{
        padding-top:10px;
      }
    }
    #friends-lists{
      position: relative;
      width: 100%;
      height: 100%;
      h5{
        width: 100%;
        border-bottom: 1px solid $border-blue;
        margin: 0;
        padding-bottom: 3px;
        color: $dark-grey;
      }
      h5:before{
        content: "";
        margin-left: 10px;
      }
      .list{
        width: 100%;
        height: 305px ;
        overflow: auto;
        .user{
          width: 100%;
          font-weight: bold;
          margin: 5px 0;
          color: $mc-light;
          border-bottom: 1px solid $light-grey;
          padding-bottom: 5px;
          line-height: 2em;
          .img-circle{
            width: 30px;
            float: right;
          } 
        }
        .user:before{
          display: inline-block;
          content: "";
          width: 10px; height: 10px;
          border-radius: 100%;
          margin-right: 20px;
          margin-left: 10px;
        }
        .user:after{
          display: block;
          content: "";
          clear: both;
        }
        .online:before{
          background: $online-green;
        }
        .away:before{
          background: $away-orange;
        }

      }
    }
  }
  .right:before{
    position: absolute;
    content: ""; 
    display: block; 
    border-left: 1px solid $border-grey;
    width: 100%;
    height: 100%; 
  }
}

#rooms-bottom{
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  position:fixed;
  bottom: 10px;
  left:0px;
  right:$rightBarWidth;
  #chatInputContainer{
    min-width: 200px;
    height:60px;
    overflow-x:auto;
  }
  #profile-icon{
    width: 50px;
    height: 50px;
  } 
  #write-chat{
    height: 50px;
    width: 50%;
    border-radius: 0;
    margin: 0;
    resize: none;
  }
  #send-chat{
    display: inline-block;
    width: 50px;
    border: 1px solid $border-grey;
    height: 50px;
    padding: 4px;
    vertical-align: top;
    line-height: 3.5em;
    overflow: hidden;
  }
  
}

