$border-grey: #DDD;
$border-blue: #ddeaf8;


#rooms-top{
  height: 50px;
  #tabs{
    width: 65%;
    height: 100%;
    margin-left: 15%;
  }

}

#rooms-center{
  height: 470px;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
  .left,.middle,.right{
    position: relative;
    float: left;
    height: 100%;
  }
  .left{
    width: 15%;
  }
  .left:before{
    position: absolute;
    content: "";
    display: block;
    border-right: 1px dotted $border-blue;
    width: 100%;
    height: 100%;
  }
  .right{
    width: 20%;
    #company{
      background: pink;
      width: 100%;
      height: 30%;
    }
    #friends-lists{
      width: 100%;
      height: 70%;
    }
  }
  .right:before{
    position: absolute;
    content: ""; 
    display: block; 
    border-left: 1px solid $border-grey;
    width: 100%;
    height: 100%; 
  }
  .middle{
    width: 65%;
  }
}

#rooms-bottom{
  height: 80px;
}
