<template name="index">
<div id="roomListContainer">
  <div class="container">
    <div id="sectionTitle">APIs</div>
  </div>
  <hr class="sectionDivider" />
  <div class="container">
    {{#each companies }}
    <div class="row roomContainer">
      <a href="{{chatPagePath this}}">
        <div class="span9 offset1">
          <span class="roomName">{{name}}</span>
          <span class="roomDescription">{{description}}</span>
        </div>
        <div class="span2">
          <div class="usersCount">
            <span class="icon-user"></span>
            50
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>
</template>

<template name="chatPage-old">
{{#with companyInfo}}
<h1>Chat Page for {{name}}</h1>
{{> onlineUsers}}
{{/with}}


{{#if currentUser}}
<input id="messageInput" type="text" />
{{/if}}
<div id="messageContainer">
  {{#each messages}}
  <p><span class="btn vote {{disableVote}}" >{{votes}} <3</span>{{name}}: {{message}}</p>
  {{/each}}
</div>
</template>

<template name="onlineUsers">
<div id="onlineUsersContainer"></div>
</template>

