<template name="index">
<div id="roomListContainer">
  <div class="container">
    <div id="sectionTitle">APIs</div>
  </div>
  <hr class="sectionDivider" />
  <div class="container">
    {{#each companies }}
    <div class="row roomContainer">
      <a href="{{chatPagePath this}}">
        <div class="span9 offset1">
          <span class="roomName">{{name}}</span>
          <span class="roomDescription">{{description}}</span>
        </div>
        <div class="span2">
          <div class="usersCount">
            <span class="icon-user"></span>
            {{usersCount}}
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>

<div id="footer">
  {{>footerContent}}
</div>
</template>

<template name="footerContent">
<div id="footerInformation">Questions? <a id="contactUs">Contact Us</a></div>
</template>
