<template name="index">
<div id="roomListContainer" class="layout-container">
  <div class="container">
    <div class="row">
      {{> roomList}}
      {{> roomListMobile}}
    </div>
  </div>
</div>

<div id="footer" class="navbar layout-container">
  {{>footerContent}}
</div>
</template>

<template name="roomList">
<div class="hidden-phone">
  {{#each companies }}
  <a href="{{chatPagePath this}}" class="room-link">
    <span class="roomName">{{name}}</span>
    <span class="roomDescription">{{description}}</span>
    <span class="usersCount">
      <span class="icon-user"></span>
      {{usersCount}}
    </span>
  </a>
  {{/each}}
</div>
</template>

<template name="roomListMobile">
<div class="visible-phone">
{{#each companies}}
<a href="{{chatPagePath this}}" class="room-link">
    <span class="roomName">{{name}}</span>
    <span class="usersCount">
      <span class="icon-user"></span>
      {{usersCount}}
    </span>
  </a>
{{/each}}
</div>
</template>

<template name="footerContent">
<div id="footerInformation">Questions? <a id="contactUs">Contact Us</a></div>
</template>
