<template name="chatPage">
  {{#with companyInfo}}
    <div id="rooms">

      <div id="rooms-top">
        <div id="tabs">
          <div class="tab active-tab">
              <p>{{name}}</p>
            <div class="close">
              <i class="icon-remove-circle"></i>
            </div>
          </div>  
          <div id="new-tab"></div>
        </div>
      </div>

      <div id="rooms-center">
        <div id= "messages" class="left">
          {{#each messages}}
          <div class="message">
            <div class="time">
              <abbr class="timeago" title="{{createdAt}}"></abbr>
              <span class="name">
                {{name}}
              </span>
            </div>
            <div class="body">
              <p>{{message}}</p>
            </div>
            <div class="rating">
              <span class="vote {{disableVote}}" >
                <i class="icon-star-empty"></i>
                <i class="icon-star"></i>
                {{votes}} 
              </span>
            </div>
          </div>
          {{/each}}
        </div>

        <div id="rooms-bottom">
          {{#if currentUser}}
          {{#with current}}
          <div id="chatInputContainer">
            <img id="profile-icon" src="{{profile.picture}}" alt="" class="img-polaroid" />
            <textarea id="write-chat" name="" rows="10" cols="30"></textarea>
            <span id="send-chat">Send</span>
          </div>
          {{/with}}
          {{/if}}
        </div>

        <div class="right">
          <div id="company">
            {{> infoContainer}}
          </div>
          <div id="friends-lists">
            <h5>Current Users (<span id="roomOnlineCounter"></span>)</h5>
            <div class="list">
              {{> onlineUsersTemplate}}
            </div>
          </div>
        </div>
      </div>

    </div>
  {{/with}}
</template>


<template name="infoContainer">
<div id="companyInfo">
  <div id="companyName">
    {{name}}
  </div>
  <div id="companyDescription">
    {{description}}
  </div>
  <div id="companyResources">
    <button class="btn btn-large">Resources</button>
  </div>
</div>
</template>

<template name="onlineUsersTemplate">
<div id="onlineUsersContainer">
  {{#each userPresences}}
  {{> userTemplate}}
  {{/each}}
</div>
</template>

<template name="userTemplate">
{{#with userData}}
<div class="user online">
  <img src="{{profile.picture}}" alt="" class="img-circle" />
  {{profile.name}} - {{profile.points}}
</div>
{{/with}}
</template>
