<template name="chatPage">
  {{#with companyInfo}}
    <div id="rooms">
      <div id="rooms-top">
        <div id="tabs">
          <div class="tab active-tab">
              <p>{{name}}</p>
            <div class="close">
              <i class="icon-remove-circle"></i>
            </div>
          </div>  
          <div id="new-tab"></div>
        </div>
      </div>
      <div id="rooms-center">
        <div id= "messages" class="left">
          {{#each messages}}
          <div class="message">
            <div class="time">
              <abbr class="timeago" title="{{createdAt}}"></abbr>
              <span class="name">
                {{name}}
              </span>
            </div>
            <div class="body">
              <p>{{message}}</p>
            </div>
            <div class="rating">
              <span class="vote {{disableVote}}" >
                <i class="icon-star-empty"></i>
                <i class="icon-star"></i>
                {{votes}} 
              </span>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="right">
          <div id="company"></div>
          <div id="friends-lists">
            <h5>Current Users (20)</h5>
            <div class="list">
              {{> onlineUsers}}
            </div>
          </div>
        </div>
      </div>
      <div id="rooms-bottom">
        <div class="left"></div>
        <div class="middle">
          {{#if currentUser}}
            {{#with current}}
              <img id="profile-icon" src="{{profile.picture}}" alt="" class="img-polaroid" />
              <textarea id="write-chat" name="" rows="10" cols="30"></textarea>
              <span id="send-chat">Send</span>
            {{/with}}
          {{/if}}
        </div>
        <div class="right"></div>
      </div>
    </div>
  {{/with}}
</template>


